.advantages {
    max-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    h3 {
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__subheader {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__icon {
        max-width: 235px;
        text-align: center;
    }
    &__descr {
        margin-top: 25px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        span {
            text-decoration: underline;
            color: #ff0000;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}